/* Custom CSS goes here */
/* File name:           app.css
Author's name:          Riaz Ahmed
Student ID:             300759573
file description:       contains custom css      */

#MainContent {
  margin-top: 4em;
  margin-bottom: 4em;
}

nav {
  opacity: 0.8;
}

#Result {
  margin-left: 20px;
}

#Result, #minRangeValue, #maxRangeValue {
  min-height: 40px
}

#canvas {
  border: 1px solid black;
  background-color: white;
}
